.word {
    font-size: large;
    font-weight: bold;
    width:100%;
}

.wordContainer {
    height: 28px;
    padding-left: 10px;
}

.wordContainer {
    margin: auto;
    margin-left: 8px;
    width: 100%;
    max-width: 1600px;
}

#searchKey {
    margin:0px !important;
    padding-left:5px;
    padding-bottom:5px;
    padding-right: 10px;
    height: 32px !important;
    vertical-align: middle;
    width:100%;
}

#search {
    display:grid;
    grid-template-columns: auto 30px;
    align-items: center;
}

.wordRow {
    scroll-snap-align: start;
}
hr {
    margin-top:0px;
    margin-bottom:0px;
    margin-right:3vh;
    margin-left:3vh;

}

.postRow{
    min-height:80vh;
    
}

#Text{
    height:25vh
}

.moreTextDiv{
    margin: auto;
    text-align:center;
}
#more {display: none;}